<mat-card>
  <form (submit)="onpost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Title" ngModel required #title="ngModel"/>
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" placeholder="Content" ngModel required #content="ngModel"> </textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      save post
    </button>
  </form>
</mat-card>
